{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "printWidth": 120,
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "trailingComma": "none"
}